.showKeeper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.keeperCard{
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 20px;
    width: 300px;
    min-height: 250px;
    margin: 2rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
}

.title {
    margin-bottom: 1rem;
    font-family: 'Texturina', serif;
    color: rgb(82, 171, 240);
    display: flex;
    align-items: center;
}

.descriptionBox{
    display: flex;
    width: 100%;
    resize: none;
    flex: 1;
    color: rgb(102, 201, 156);
    font-family: 'Kanit', sans-serif;
    outline: none;
    background: black;
    border: none;
}

.deleteIcon {
    color: white;
    position: absolute;
    right: 30px;
    font-size: 1rem;
    cursor: pointer;
}